<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="FlixStats">
    <meta property="og:description" content="Displaying your Netflix usage in interesting charts.">
    <meta property="og:image" content="@Url.Content("~/img/flixstats_logo_transparent.png")">
    <meta property="og:url" content="http://euro-travel-example.com/index.htm">
    <meta name="twitter:card" content="@Url.Content("~/img/flixstats_logo_transparent.png")">

    <title>@ViewData["Title"] - FlixStats</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />

    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />

    <!-- Social Share Kit CSS -->
    <link rel="stylesheet" href="@Url.Content("~/css/social-share-kit.css")" type="text/css" />
</head>
<body>

    <span id="antiForge"> @Html.AntiForgeryToken() </span>

    <nav class="navbar bg-light navbar-light">

        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
            <img src="/img/flixstats_logo_transparent.png" alt="FlixStats logo" height="60" />
        </a>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="float-left">
                <p style="width: 150px;">
                    <img src="/img/flixstats_logo_short.png" alt="FlixStats small logo" height="20" style="float: right;" />
                    &copy; 2019 - FlixStats
                </p>
            </div>
            <div class="float-right">
                <a href="https://github.com/Davee02/NetflixStatizier">
                    <img src="~/img/github_logo.png" alt="The GitHub Octocat (logo)" height="20" />
                </a>
            </div>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
