@model FlixStats.Models.ViewModels.NetflixStatsViewModel

<br />
<hr />
<p class="text-center h2">You have watched a total of <span class="text-danger">@Model.TotalViewedTime</span> TV shows and movies on Netflix.</p>
<br />
<hr />
<p class="text-center h2">You have watched <span class="text-danger">@Model.SeriesEpisodesViewedItemsCount episodes (@Model.SeriesViewedTime)</span> of TV shows and <span class="text-danger">@Model.MoviesViewedCount movies. (@Model.MoviesViewedTime)</span></p>
<br />
<hr />
<p class="text-center h2">Your highscore day was the <span class="text-danger">@Model.HighscoreDate.ToString("yyyy-MM-dd")</span>. On this day, you chilled <span class="text-danger">@Model.HighcoreTime</span> on Netflix.</p>
<br />