@model NetflixStatizier.Models.ViewModels.NetflixStatsViewModel

@{
    ViewData["Title"] = "Results";
}

<div class="main-content">
    <!-- Tabstrip -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="nav-item">
            <a class="nav-link active" href="#overview" role="tab" data-toggle="tab">Overview</a>
        </li>
        <li role="presentation" class="nav-item">
            <a class="nav-link" href="#per-serie" role="tab" data-toggle="tab">Per serie</a>
        </li>
        <li role="presentation" class="nav-item">
            <a class="nav-link" href="#per-day" role="tab" data-toggle="tab">Per day</a>
        </li>
        <li role="presentation" class="nav-item">
            <a class="nav-link" href="#per-daytime" role="tab" data-toggle="tab">Per daytime</a>
        </li>
        <li role="presentation" class="nav-item">
            <a class="nav-link" href="#share-export" role="tab" data-toggle="tab">Share / export</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="overview">
            <partial name="_OverviewPartial" model="@Model" />
        </div>

        <div role="tabpanel" class="tab-pane fade" id="per-serie">
            <partial name="_PerSeriePartial" model="@Model" />
        </div>

        <div role="tabpanel" class="tab-pane fade" id="per-day">
            <partial name="_PerDatePartial" model="@Model" />
        </div>

        <div role="tabpanel" class="tab-pane fade" id="per-daytime">
            <partial name="_PerDayTimePartial" model="@Model" />
        </div>

        <div role="tabpanel" class="tab-pane fade" id="share-export">
            <partial name="_ShareExportPartial" model="@Model" />
        </div>
    </div>
</div>


@section Scripts
{
    <partial name="_ChartScriptsPartial" />
    <script>
        @Html.Raw(Model.ViewedHoursPerSerieChart.CreateChartCode("timePerSerieBarChart"))
        @Html.Raw(Model.ViewedHoursPerDayChart.CreateChartCode("timePerDateBarChart"))
        @Html.Raw(Model.HourlyActivityChart.CreateChartCode("hourlyWatchedRadioChart"))


        $("#timePerDateBarChart").click(e => {
            const activeBars = timePerDateBarChart.getElementsAtEvent(e);

            if (activeBars.length > 0) {
                const clickedElementindex = activeBars[0]["_index"];
                const label = timePerDateBarChart.data.labels[clickedElementindex];

                $.get(`/stats/ajax/playbacks/@Model.Identifier?forDate=${label}`, data => {
                    $('#per-day-sub').html(data);
                });
        }
        });

        $("#per-serie-reset-zoom").click(e => {
            timePerSerieBarChart.resetZoom();
        })

        $("#per-date-reset-zoom").click(e => {
            timePerDateBarChart.resetZoom();
        })
    </script>
}