@model NetflixStatizier.Models.ViewModels.NetflixStatsViewModel

@{
    ViewData["Title"] = "Results";
}

<h2>You have wasted a total of @(Model.TotalViewedTime.Hours)h @(Model.TotalViewedTime.Minutes)m watching TV shows and movies on Netflix.</h2>
<br />
<h2>You have watched @Model.SeriesEpisodesViewedItemsCount episodes of TV shows and @Model.MoviesViewedCount movies.</h2>
<br/>
<h2>Your highscore day was the @(Model.HighscoreDate.ToString("d")). On this day, you have watched @(Model.HighcoreTime.Hours)h @(Model.HighcoreTime.Minutes)m long.</h2>

<hr/>

<div class="container">
    <canvas id="timePerSerieBarChart" height="@(Model.ViewedHoursPerSerieChart.Data.Labels.Count * 5)" role="img">
        <p>Your browser sadly does not support the canvas element. This means no charts can be displayed :(</p>
    </canvas>
</div>
<div class="container">
    <canvas id="timePerDateBarChart" height="@(Model.ViewedHoursPerDayChart.Data.Labels.Count * 3)" role="img">
        <p>Your browser sadly does not support the canvas element. This means no charts can be displayed :(</p>
    </canvas>
</div>
<div class="container">
    <canvas id="hourlyWatchedRadioChart" role="img">
        <p>Your browser sadly does not support the canvas element. This means no charts can be displayed :(</p>
    </canvas>
</div>

@section Scripts
{
    <partial name="_ChartScriptsPartial"/>
    <script>
        @Html.Raw(Model.ViewedHoursPerSerieChart.CreateChartCode("timePerSerieBarChart"))
        @Html.Raw(Model.ViewedHoursPerDayChart.CreateChartCode("timePerDateBarChart"))
        @Html.Raw(Model.HourlyActivityChart.CreateChartCode("hourlyWatchedRadioChart"))
    </script>
}