@model NetflixStatsViewModel

@{
    ViewData["Title"] = "Results";
}

<h2>You have wasted a total of @(Model.TotalViewedTime.Hours)h @(Model.TotalViewedTime.Minutes)m watching TV shows and movies on Netflix.</h2>
<br />
<h2>You have watched @Model.SeriesEpisodesViewedItemsCount episodes of TV shows and @Model.MoviesViewedCount movies.</h2>
<br/>
<h2>Your highscore day was the @(Model.HighscoreDate.ToString("d")). On this day, you have watched @(Model.HighcoreTime.Hours)h @(Model.HighcoreTime.Minutes)m long.</h2>

<hr/>

<div class="container">
    <canvas id="timePerSerieBarChart" height="@(Model.ViewedHoursPerSerieChart.Data.Labels.Count * 5)"></canvas>
</div>
<div class="container">
    <canvas id="timePerDateBarChart" height="@(Model.ViewedHoursPerDayChart.Data.Labels.Count * 3)"></canvas>
</div>

@section Scripts
{
    <script src="~/lib/chartsjs/Chart.bundle.min.js"></script>
    <script>
        @Html.Raw(Model.ViewedHoursPerSerieChart.CreateChartCode("timePerSerieBarChart"))
        @Html.Raw(Model.ViewedHoursPerDayChart.CreateChartCode("timePerDateBarChart"))
    </script>
}